<h2>This project has moved!</h3>

<p>Find it's new home at <a href="https://plaxt.astandke.com/">https://plaxt.astandke.com/</a>, updated to Trakt's new auth standards so your scrobbles won't randomly stop after 3 months!</p>

<p>Webhooks still pointing at this URL will continue to work for a short time, but you should create a new link at the new site ASAP!</p>

